<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="baserequirements.resource.baseRequirements.mopp.BaseRequirementsMetaInformation" id="baserequirements.resource.baseRequirements.mopp.BaseRequirementsMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="baserequirements.resource.baseRequirements.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="baserequirements.resource.baseRequirements.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="baserequirements.resource.baseRequirements.problem">
		</super>
	</extension>
	
	<extension id="baserequirements.resource.baseRequirements.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="baserequirements.resource.baseRequirements.problem">
		</super>
	</extension>
	
	<extension id="baserequirements.resource.baseRequirements.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="baserequirements.resource.baseRequirements.problem">
		</super>
	</extension>
	
	<extension id="baserequirements.resource.baseRequirements.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="baserequirements.resource.baseRequirements.problem">
		</super>
	</extension>
	
	<extension id="baserequirements.resource.baseRequirements.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="baserequirements.resource.baseRequirements.problem">
		</super>
	</extension>
	
	<extension id="baserequirements.resource.baseRequirements.nature" name="baseRequirements nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="baserequirements.resource.baseRequirements.mopp.BaseRequirementsNature">
			</run>
		</runtime>
		<builder id="baserequirements.resource.baseRequirements.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="baserequirements.resource.baseRequirements.builder" name="baseRequirements Builder">
		<builder hasNature="true">
			<run class="baserequirements.resource.baseRequirements.mopp.BaseRequirementsBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="baserequirements.resource.baseRequirements.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="baserequirements.resource.baseRequirements.mopp.BaseRequirementsResourceFactoryDelegator" type="baseRequirements">
		</parser>
	</extension>
	
	<extension-point id="baserequirements.resource.baseRequirements.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="baserequirements.resource.baseRequirements.debug.BaseRequirementsLineBreakpoint" id="baserequirements.resource.baseRequirements.debug.breakpoint" markerType="baserequirements.resource.baseRequirements.debug.lineBreakpoint.marker" name="baseRequirements Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="baserequirements.resource.baseRequirements.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="baserequirements.resource.baseRequirements.ui.launchConfigurationType" delegate="baserequirements.resource.baseRequirements.launch.BaseRequirementsLaunchConfigurationDelegate" modes="run,debug" name="baseRequirements Application" sourceLocatorId="baserequirements.resource.baseRequirements.ui.sourceLocator" sourcePathComputerId="baserequirements.resource.baseRequirements.ui.sourcePathComputer" delegateName="baseRequirements Launch Tooling" delegateDescription="This will run or debug .baseRequirements files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="baserequirements.resource.baseRequirements.debug.BaseRequirementsSourcePathComputerDelegate" id="baserequirements.resource.baseRequirements.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="baserequirements.resource.baseRequirements.ui.sourceLocator" class="baserequirements.resource.baseRequirements.debug.BaseRequirementsSourceLocator" name="baseRequirements Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
