<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated A1_PlantUML -->
      <package
            uri="PlantUML"
            class="PlantUML.PlantUMLPackage"
            genModel="A1_PlantUML.genmodel"/>
   </extension>

</plugin>
