<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="entity.resource.entity.mopp.EntityMetaInformation" id="entity.resource.entity.mopp.EntityMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="entity.resource.entity.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="entity.resource.entity.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="entity.resource.entity.problem">
		</super>
	</extension>
	
	<extension id="entity.resource.entity.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="entity.resource.entity.problem">
		</super>
	</extension>
	
	<extension id="entity.resource.entity.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="entity.resource.entity.problem">
		</super>
	</extension>
	
	<extension id="entity.resource.entity.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="entity.resource.entity.problem">
		</super>
	</extension>
	
	<extension id="entity.resource.entity.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="entity.resource.entity.problem">
		</super>
	</extension>
	
	<extension id="entity.resource.entity.nature" name="entity nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="entity.resource.entity.mopp.EntityNature">
			</run>
		</runtime>
		<builder id="entity.resource.entity.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="entity.resource.entity.builder" name="entity Builder">
		<builder hasNature="true">
			<run class="entity.resource.entity.mopp.EntityBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="entity.resource.entity.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="entity.resource.entity.mopp.EntityResourceFactoryDelegator" type="entity">
		</parser>
	</extension>
	
	<extension-point id="entity.resource.entity.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="entity.resource.entity.debug.EntityLineBreakpoint" id="entity.resource.entity.debug.breakpoint" markerType="entity.resource.entity.debug.lineBreakpoint.marker" name="entity Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="entity.resource.entity.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="entity.resource.entity.ui.launchConfigurationType" delegate="entity.resource.entity.launch.EntityLaunchConfigurationDelegate" modes="run,debug" name="entity Application" sourceLocatorId="entity.resource.entity.ui.sourceLocator" sourcePathComputerId="entity.resource.entity.ui.sourcePathComputer" delegateName="entity Launch Tooling" delegateDescription="This will run or debug .entity files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="entity.resource.entity.debug.EntitySourcePathComputerDelegate" id="entity.resource.entity.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="entity.resource.entity.ui.sourceLocator" class="entity.resource.entity.debug.EntitySourceLocator" name="entity Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
